[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = "build"   # CRA
  # publish = "dist"  # Vite

[build.environment]
  NODE_VERSION = "18"