body {
  margin: 0;
  background-color: black;
  text-align: center;
}

h1{
  color: red;
  /* animation: spin 2s infinite ease-in-out; */
}


@keyframes spin {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg);
  }
}
